<div class="row">
  <div class="col-sm-12 mb-1">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title"> Find A Car </h5>
        <%= search_form_for @search, :url => parking_lots_path do |f| %>
          <div class="form-group row">
            <%= tag.fieldset do %>
              <div class="col">          
                <%= f.label :car_registration_number_cont, "Registration Number", class: "form-label" %>
                <%= f.text_field :car_registration_number_i_cont, class: "form-control input-sm form-control-sm" %>
              </div>
              <div class="col">
                <%= f.label :car_color_eq, "Car Color", class: "form-label" %>
                <%= f.text_field :car_color_i_cont_all, class: "form-control input-sm form-control-sm" %>
              </div>
            <% end %>
          </div>
          <div class="form-group text-right">
            <%= f.submit "Find", class: 'btn btn--invert' %>
            <%= link_to "Reset", parking_lots_path, :class=>"btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>